<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqaIQXA_Ts51GPAvwqyrP9SHR0MdDvnu8</string>
	<key>GCM_SENDER_ID</key>
	<string>151155522161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasankarli.exampleAppCheck</string>
	<key>PROJECT_ID</key>
	<string>example-app-check-bdd04</string>
	<key>STORAGE_BUCKET</key>
	<string>example-app-check-bdd04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151155522161:ios:d3682ef7270b4d1d4b39d0</string>
</dict>
</plist>